#!/bin/bash

set -eufo pipefail

{{- if has "desktopApps" .features }}

echo '🖥️ Installing desktop apps'
brew bundle --file=/dev/stdin <<EOF
# Desktop Utilities
mas "Amphetamine", id: 937984704
mas "Magnet", id: 441258766
mas "WireGuard", id: 1451685025
EOF

echo '✅ Desktop apps installed!'
{{- else }}
exit 0
{{- end }}