#!/bin/bash

set -eufo pipefail

{{- if has "monitoring" .features }}

echo '📊 Installing monitoring and network tools'
brew bundle --file=/dev/stdin <<EOF
brew "speedtest-cli"
brew "nmap"
brew "iperf3"
brew "ipcalc"
EOF

trap 'exit 0' ERR
echo '✅ Monitoring tools installed!'
{{- else }}
exit 0
{{- end }}