#!/bin/bash

set -eufo pipefail

{{- if has "docker" .features }}

echo '🐳 Installing Docker'
brew bundle --file=/dev/stdin <<EOF
cask "docker"
EOF

trap 'exit 0' ERR
echo '✅ Docker installed!'
{{- else }}
exit 0
{{- end }}